body {
  background-color: #e7e5e4;
  font-family: 'Oswald', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #000;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  margin-bottom: 30px;
}

h5 {
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.header2 {
  color: white;
  text-align: center;

}

.navcontainer {
  text-align: center;
  display: inline-block;
}

#navlist li   {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  text-align: center;
  display: inline-block;
 margin: auto;

}

.navlist {
  text-align: center;
  display: inline-block;
}

.wrapper {
  text-align: center;
}
.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom:1;
  *display: inline;
}
.wrapper li {
  float: left;
  padding: 2px 5px;
  }
}

.elegantshadow {
  color: #131313;
  background-color: #e7e5e4;
  letter-spacing: .15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}

.row .col.s12 {
  /*margin-left: auto;*/
  left: auto;
  right: auto;
}

.row .col.offset-s12 {
  margin-left: 100%;
}

.row .col.pull-s12 {
  right: 100%;
}

.row .col.push-s12 {
  left: 100%;
}

.col.s12.m6.l3 {
  text-align: center;
}

.blank {
  background: #e7e5e4;
  text-align: center;
  width: 100%;
  padding: 8px;
}

.blank2 {
  background: #e7e5e4;
  text-align: center;
  width: 100%;
  padding: 8px;
  height: 15px;
}

.blank3 {
  background: #e7e5e4;
  text-align: center;
  width: 100%;
  padding: 8px;
  height: 25px;
}

.blank4 {
  background: #e7e5e4;
  text-align: center;
  width: 100%;
  padding: 8px;
  height: 25px;
  background: none;
}

.blank5 {
  background: none;
  text-align: center;
  width: 100%;
  padding: 8px;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.white {
  background-color: #e7e5e4;
  height: 1200px;

hr {
  color: black;
}

h5.center {
  text-align: left;
}

.header2 {
  text-align: center;
}

.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
